$hoverColor: #1dd2af;
$backgroundColor: #2c3e50;
$whiteColor: #ffffff;
$werticalLineColor: #17202a;
$werticalLineShadeColor: #374d63;
$navTextColor: #5d6e80;
$carouselBotomBorderColor: #3a4e61;
$destinationDateOptionColor: #8293a4;
$inputBorderColor: #19232d;
$placeholderColor: #8a8a8a;
$findHolidaysColor: #9fb0c0;
$inputIconColor: #a4a4a4;
$cardBackgroundColor: #eeeeee;
$dropdownColor: #626262;

// RGBA color
$whiteColorLight: rgba(255,255,255, 0.3);
$hoverColorLight: rgba(29,210,175, 0.2);
$hoverColorMedium: rgba(29,210,175, 0.5);
$backgroundColorDark: rgba(44,62,80, 0.8);
$backgroundColorMedium: rgba(44,62,80, 0.5);
$carouselBotomBorderColorLight: rgba(58, 78, 97, 0.2);
$findHolidaysColorLight: rgba(159,176,192, 0.2);