.carousel {
    height: 695px;
    min-height: 695px;

    .carousel-inner {
        border-bottom: 1px solid $carouselBotomBorderColor;

        .carousel-item {
            position: relative;
            display: block;
            height: 695px;
            min-height: 695px;
            background: url(/images/banner.png) no-repeat center;
            background-size: cover;

            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                background: $navTextColor;
                opacity: 0.5;
            }

            .carousel-caption {
                bottom: unset;
                padding-top: 270px;
                z-index: 100;

                h5 {
                    font-size: 3.125rem;
                    font-weight: 700;
                    text-transform: uppercase;
                }

                p {
                    font-size: 1.563rem;
                    font-weight: 500;
                    line-height: 30px;
                    text-align: center;
                }

                .explore-buttons {
                    z-index: 100;

                    button {
                        padding: 0;
                    }

                    .btn {
                        min-height: 60px;
                        font-size: 1.563rem;
                        font-weight: 500;
                        letter-spacing: -1px;
                        text-transform: uppercase;
                        text-align: center;
                        color: $whiteColor;
                        margin: 31px 10px 0;
                        padding: 20px;
                        box-sizing: border-box;
                    }
                    
                    .btn-outline-primary { 
                        border: 2px solid $whiteColor;
                        
                        &:hover, &:focus {
                            background: $hoverColor;
                            border-color: $hoverColor;
                        }

                        &:active {
                            background: $hoverColor;
                            border-color: $hoverColor;
                        }
                    }
                }
            }
        }
    }
    
    .carousel-control-prev,
    .carousel-control-next {
        top: calc(50% - 40px);
        width: 80px;
        height: 80px;
        background-color: $whiteColorLight;

        &:hover {
            background-color: $hoverColor;
        }
    }
}