.clients {
    text-align: center;
    padding: 125px 0 115px;

    h2 {
        font-size: 1.563rem;
        font-weight: 500;
        text-transform: uppercase;
        color: $backgroundColor;
    }
    p {
        font-size: 1rem;
        color: $dropdownColor;
    }

    .clients__reviews {
        text-align: left;
        margin-top: 50px;
        overflow: hidden;

        .clients__review {
            position: relative;
            height: auto;
            min-width: 475px;
            border: 1px solid $cardBackgroundColor;
            padding: 30px 30px 30px 25px;
            margin: 0 5px 40px 0;

            p {
                font-size: 0.938rem;
                color: $clientReviewColor;
                margin-bottom: 5px;
            }
            span {
                font-size: 0.813rem;
                color: $clientCountryColor;
            }
            .clients__name {
                font-size: 1.125rem;
                color: $clientNameColor;
            }

            &::before, &::after {
                content: '';
                border: solid transparent;
                position: absolute;
                top: 100%;
                right: 40px;
            }

            &::before {
                border-top-color: $cardBackgroundColor;
                border-width: 30px;
                margin-left: -30px;
            }

            &::after {
                border-top-color: $whiteColor;
                border-width: 30px;
                margin-left: -28px;
                margin-top: -1px;
            }
        }

        .clients__review--active {
            border-color: $clientsActiveBorderColor;
            // background: $whiteColor; /* Old browsers */
            // background: -webkit-linear-gradient(top, $hoverColor 4px, $whiteColor 4px); /* Chrome10-25,Safari5.1-6 */
            // background: -moz-linear-gradient(top, $hoverColor 4px, $whiteColor 4px); /* FF3.6-15 */
            background: linear-gradient(to bottom, $hoverColor 4px, $whiteColor 4px); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

            p {
                color: $clientReviewActiveColor;
            }
            .clients__name {
                color: $hoverColor;
            }
            span {
                color: $clientCountryActiveColor;
            }

            &::before {
                border-top-color: $clientsActiveBorderColor;
            }
        }
    }
}