.clients {
  text-align: center;
  padding: 125px 0 105px;

  h2 {
    font-size: 1.563rem;
    font-weight: 500;
    text-transform: uppercase;
    color: $backgroundColor;
  }
  p {
    font-size: 1rem;
    color: $dropdownColor;
    margin-bottom: 50px;
  }

  .clients__reviews {
    text-align: left;
    overflow: hidden;

    .clients__review {
      position: relative;
      max-width: 475px;
      height: auto;
      min-height: 180px;
      border: 1px solid $clientsActiveBorderColor;
      // background: $whiteColor; /* Old browsers */
      // background: -webkit-linear-gradient(top, $hoverColor 4px, $whiteColor 4px); /* Chrome10-25,Safari5.1-6 */
      // background: -moz-linear-gradient(top, $hoverColor 4px, $whiteColor 4px); /* FF3.6-15 */
      background: linear-gradient(
        to bottom,
        $hoverColor 4px,
        $whiteColor 4px
      ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      padding: 30px 25px;
      margin: 0 5px 40px 5px;
      vertical-align: top;

      p {
        font-size: 0.938rem;
        color: $clientReviewActiveColor;
        margin-bottom: 5px;
      }
      .clients__name {
        font-size: 1.125rem;
        color: $hoverColor;
      }
      span {
        font-size: 0.813rem;
        color: $clientCountryActiveColor;
      }

      &::before,
      &::after {
        content: "";
        border: solid transparent;
        position: absolute;
        top: 100%;
        right: 40px;
      }

      &::before {
        border-top-color: $clientsActiveBorderColor;
        border-width: 30px;
        margin-left: -30px;
      }

      &::after {
        border-top-color: $whiteColor;
        border-width: 30px;
        margin-left: -28px;
        margin-top: -1px;
      }
    }

    .clients__review--noactive {
      border: 1px solid $cardBackgroundColor;
      background: $whiteColor;

      p {
        color: $clientReviewColor;
      }
      .clients__name {
        color: $clientNameColor;
      }
      span {
        color: $clientCountryColor;
      }

      &::before {
        border-top-color: $cardBackgroundColor;
      }
    }
  }

  // .MS-content {
  //   .item {
  //     width: 33.3% !important;
  //   }
  // }

  // .MS-controls {
  //   button {
  //     i {
  //       top: 35%;
  //     }
  //   }
  // }
}
