@media (max-width: 1200px) {
  .clients {
    padding: 60px 0 50px !important;
  }
}

@media (max-width: 797px) {
  .clients {
    padding: 30px 0 10px !important;

    h2 {
      font-size: 1.25rem !important;
    }
    p {
      font-size: 0.8rem;
      margin-bottom: 30px !important;
    }

    .clients__reviews {
      .clients__review {
        min-width: 400px !important;
        padding: 20px 15px !important;
        .clients__name {
          font-size: 1rem !important;
        }
      }
    }
  }
}

@media (max-width: 769px) {
  .clients {
    .clients__reviews {
      .clients__review {
        max-width: 400px !important;
      }
    }
  }
}

@media (max-width: 517px) {
  .clients {
    padding-top: 15px !important;

    h2 {
      font-size: 1rem !important;
    }
    p {
      font-size: 0.7rem !important;
    }

    .clients__reviews {
      .clients__review {
        min-width: 310px !important;
        min-height: 120px !important;
        p {
          font-size: 0.725rem !important;
        }
        span {
          font-size: 0.625rem !important;
        }
      }
    }
  }
}

@media (max-width: 424px) {
  .clients {
    .clients__reviews {
      .clients__review {
        max-width: 310px !important;
        padding-top: 20px !important;
        padding-bottom: 20px !important;
      }
    }
  }
}
