header {
    font-size: 0.938rem;

    .header-bar {
        height: 40px;
        font-weight: 300;
        line-height: 22px;
        i {
            font-size: 16px;
        }

        &__autorization {
            a {
                cursor: default;
            }
            .header-bar--pdd {
                padding-left: 0;
            }
            div {
                display: flex;
                align-items: center;
                padding: 0 15px;

                @include smallTwoColoursBorder;
            }
            i {
                margin-right: 5px;
            }   
        }

        &__social {
            .logo-min--media {
                display: none;
                align-self: center;
                text-transform: uppercase;
            }

            i {
                height: 40px;
                display: flex;
                align-items: center;
                padding: 0 15px;

                @include smallTwoColoursBorder;
            }
        }
    }

    .navbar {
        max-height: 90px;
        text-transform: uppercase;

        .navbar-brand {
            font-size: 2.5rem;
            font-weight: 700;
            line-height: 59px;
            color: $backgroundColor;
        }
        
        .navigation__wrapper {
            justify-content: space-between;
            line-height: 60px;

            .navbar-nav {
                font-weight: 500;

                .nav-link {
                    color: $navTextColor;

                     &:hover, &:active {
                        color: $hoverColor;
                    }
                }
            }
            
            .navigation__search {
                position: relative;
                align-self: center;
                width: 42px;
                height: 42px;
                border: 3px solid $backgroundColor;
                border-radius: 100px;
                margin-left: 15px;
                cursor: pointer;
                box-sizing: border-box;

                i {
                    position: absolute;
                    top: 7px;
                    left: 8px;
                    font-size: 1.25rem;
                    color: $backgroundColor;
                }
            }   
        }
    }
}