.carousel {
    height: 695px;
    min-height: 695px;
    overflow: hidden;

    .carousel-inner {
        overflow: unset;

        .carousel-item {
            position: relative;
            height: 695px;
            min-height: 695px;
            backface-visibility: unset;
            border-bottom: 1px solid $carouselBotomBorderColor;

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: $navTextColor;
                opacity: 0.5;
            }

            .carousel-caption {
                padding-bottom: 300px;
                z-index: 100;

                h5 {
                    font-size: 3.125rem;
                    font-weight: 700;
                    text-transform: uppercase;
                }

                p {
                    font-size: 1.563rem;
                    font-weight: 500;
                    line-height: 30px;
                }
            }
        }
    }

    .explore-buttons {
        position: absolute;
        bottom: 30%;
        left: calc(50% - 232px);
        z-index: 100;

        button {
            padding: 0;
        }

        .btn {
            height: 60px;
            font-size: 1.563rem;
            font-weight: 500;
            letter-spacing: -1px;
            line-height: 0.7;
            text-transform: uppercase;
            color: $whiteColor;
            margin: 31px 10px 0;
            padding: 20px;
            box-sizing: border-box;
        }
        
        .btn-outline-primary { 
            border: 2px solid $whiteColor;
            
            &:hover, &:focus {
                background: $hoverColor;
                border-color: $hoverColor;
            }

            &:active {
                background: $hoverColor;
                border-color: $hoverColor;
            }
        }
    }
    
    .carousel-control-prev,
    .carousel-control-next {
        top: calc(50% - 40px);
        width: 80px;
        height: 80px;
        background-color: $whiteColorLight;

        &:hover {
            background-color: $hoverColor;
        }
    }
}